body{
  background-color: white;
}
.navbar-inverse{
  background-color: #292929;
}
.carousel{
  margin-top: 100px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .carousel{
    margin-top: 300px;
  }
}
.img-responsive{
  margin:auto;
  height: 200px;
  width: 200px;
}
.info{
  text-align: center;
}
.footer{
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #292929;
}
.footer-list{
  color: #818181;
}
