body{
  background-image:url('../img/backgrounds/bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-right-logo{
  margin: 10px;
  color: #FFFFFF;
}

.navigation-menu{
  padding: 15px;
  background-color: #202020;
}
.navbar-right ul li:hover{
  background-color: #202020;
}

h3{
  color: #FFFFFF;
}

/*Main container*/
.main{
  margin-top: 80px;
}

@media (max-width: 767px) {
  .main{
    margin-top: 120px;
  }
}

/*Footer*/
.footer{
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #202020;
}

.footer-list{
  color: #818181;
}
