html{
  position: relative;
  min-height: 100%;
}

body{
  background-image:url('../img/backgrounds/bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 0 150px;
}

.jumbotron{
  background-color: #e3e3e3;
}

.logo{
  padding: 5px;
}

.top-right-logo{
  margin: 10px;
  margin-top: 20px;
  color: #e3e3e3;
}

.navbar-general{
  border-radius: 0;
  border-color: #202020;
}

.navigation-menu{
  padding: 15px;
  background-color: #222;
}
.navbar-right ul li:hover{
  background-color: #202020;
}

.img-info{
  display: block;
  margin: 0 auto;
}

.text-home{
  text-align: center;
}

/*Main container*/
.main{
  margin-top: 80px;
}

@media (max-width: 767px) {
  .main{
    margin-top: 120px;
  }
}

/*Footer*/
.footer{
  background-color: #202020;
  width: 100%;
  height: 150px;
  position: absolute;
  margin-bottom: 0;
  left: 0;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow:hidden;
}

.footer-list{
  color: #e3e3e3;
}

.footer-link, .footer-link:hover{
  color: #e3e3e3;
}

.copyright-text{
  text-align: center;
}

@media (max-width: 768px) {
  .btn-profile{
    margin-left: 0;
    width:100%;
  }
  .img-profile{
    display: block;
    margin: auto;
    width: 50%;
  }
  .text-profile{
    text-align: center;
  }
}
