@import "index.css";

/*Main container*/
.main{
  margin-top: 200px;
}

.login{
  margin-top: 100px;
  opacity: 0.9;
}

.genero{
  height: 40px;
}
.entrar{
  width: 100%;
}

.link{
  text-align: right;
}

.footer{
  margin-top: 250px;
}

@media (max-width: 500px) {
  .login{
    margin-left: 0;
    width:100%;
  }
}
